*{
  margin: 0;
  padding: 0;
  font-family: 'Cabin', sans-serif;
  letter-spacing: 0.4pt;
  box-sizing: border-box;
}

:root{
  --primary: #9600ec;
  --sec1: #F9FAFC;
  --sec2: hsl(231, 33%, 94%);
  --sec3: hsl(231, 33%, 80%);
  --dark1: #8D95A8;
  --dark2: hsl(240, 15%, 10%);

  --blue1: #0086E6;
  --blue2: #625FFF;
  --blue3: #7300e6;
  --bluea: #c9e9ff;

  --red1: #ff0040;
  --red2: #ff007b;
  --red3: #ff13b0;
  --reda: #ffc4d2;

  --yellow1: #ffd500;
  --yellow2: #faaf00;
  --yellow3: #e5ff00;
  --yellowa: #fff1ac;

  --green1: #00b818;
  --green2: #00de73;
  --green3: #3de400;
  --greena: #c4ffcc;

  --sep: hsl(0, 0%, 85%);
}

body{
  color: var(--dark2);
}

button{
  cursor: pointer;
  transition-duration: 200ms;
}

a{
  color: var(--blue1);
  text-decoration: underline;
  text-decoration-thickness: 2px;

  transition-duration: 200ms;
}

a:hover{
  color: var(--blue3);
}

.shake:hover{
  animation: shake 700ms;
  animation-timing-function: ease-in-out;
}

.pop:hover{
  animation: bookmark 500ms;
  animation-timing-function: ease-in;
}


.formContainer{
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;
  
  z-index: 2;
  backdrop-filter: blur(2px) brightness(80%);

  display: flex;
  align-items: center;
  justify-content: center;
}

.formContainer form{

  position: relative;
  width: 40%;
  max-height: 95vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  background-color: var(--sec1);
  padding: 40px 3vw;

  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  
}

.formContainer form > div:nth-of-type(1){
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formContainer .formGroup{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.formGroup label{
  color: var(--dark1);
  margin-bottom: 5px;
}

.formGroup input{

  background-color: var(--sec2);
  border: 0px solid;
  outline: 1px solid var(--sec3);

  padding: 10px;

}

.formContainer button{
  width: 100%;
  padding: 12px;

  font-size: 1rem;
  border: 0px solid;
  background-color: var(--bluea);
  color: var(--blue1);
}

.formContainer button:hover{
  filter: brightness(96%);
}

.formGroup .financers{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.formGroup .financers .financer{
  min-width: fit-content;
  flex-grow: 1;
  background-color: var(--yellowa);
  color: var(--yellow2);

  border: 1px solid var(--yellow1);
  border-radius: 3px;
  text-align: center;
  
  padding: 10px 15px;
  cursor: pointer;
}

.formGroup .financers .selected{
  border: 1px solid var(--blue1);
  background-color: var(--bluea);
  color: var(--blue1);
}

.financer:hover{
  filter: brightness(96%);
}

.formContainer form .closeForm{
  color: var(--red1);
  position: absolute;
  right: 20px;
  top: 20px;

  cursor: pointer;
}

.formGroup .friendInvite{

  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;

  border: 1px solid var(--sec3);

}

.formGroup .friendInvite button {
  width: fit-content;
}